<div id="calculator-container">
  <div class="field-group">
    <label class="field-label">Current Loan Balance</label>
    <input type="text" id="loan-balance" placeholder="$0.00">
  </div>
  <div class="field-group">
    <label class="field-label">Annual Percentage Rate</label>
    <input type="text" id="APR" placeholder="0.00%">
  </div>
  <div class="field-group">
    <label class="field-label">Monthly Payment</label>
    <input type="text" id="monthly-payment" placeholder="$0.00">
  </div>
  <button id="calculate-btn">Calculate</button><br>
  <p id="clear">Clear</p>
</div>